<div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://0024takeshi.bitbucket.io">Takeshi Onishi</a>
      | Design Template by <a href="https://www.free-css.com">Free-CSS</a> 
      | Icon by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
    </p>
</div>