<div class="container-fluid">
  <nav class="navbar navbar-expand-lg custom_nav-container ">
    <a class="navbar-brand" href="index.html">
      <span>
        研究留学ネットワーク (公開デモ中)
      </span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="institute.html"> 留学先情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="researcher.html"> 留学中の研究者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="community.html"> 海外研究者コミュニティ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="we.html">運営</a>
        </li>
        <form class="form-inline">
          <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </ul>
    </div>
  </nav>
</div>